# Ignore all .log files
*.log

# Ignore the node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore the build directory
build/

# Ignore the logs directory
logs/

# Ignore the coverage directory
coverage/
